<span class="country-name-one"><img width="40px" src={{flags.png}}>{{name.common}}</span>
<ul class="country-list">
    <li><span class="names-of-quality">Capital:</span>{{capital}}</li>
    <li><span class="names-of-quality">Population:</span>{{population}}</li>
    <li><span class="names-of-quality">Languages:</span>{{#each languages}} {{this}} {{/each}}</li>
</ul>